.sidebar{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-attachment: black;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}
.sidebar a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}
.sidebar .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-right: 50px;
}
.openbtn{
    font-size: 20px;
    cursor: pointer;
    background-color: black;
    color: white;
    padding: 10px 15px;
    border: none;
}
#main{
    transition: margin-right .5s;
    padding: 20px;
}

.test{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}